<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&effect=3d" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Where's my Hero</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdC5jhQIR2gpGxwKXXCaKPsyrJM7B2MV4"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
  </head>

  <body>


    <!-- Sign up modal -->

    <div class="modal fade bs-example-modal-lg sign-up-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <h2>Sign Up</h2>
          <br>
          <form method="POST" action="/signup">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2">
                <div class="form-group">
                  <input type="text" name="username" class="form-control" placeholder="Username" autofocus>
                </div>
                <div class="form-group">
                  <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-block btn-primary" value="Sign Up">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Login Modal -->

    <div class="modal fade bs-example-modal-lg login-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <h2>Log In</h2>
          <br>
          <form method="POST" action="/login">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2">
                <div class="form-group">
                  <input type="text" name="username" class="form-control" placeholder="Username" autofocus>
                </div>
                <div class="form-group">
                  <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-block btn-primary" value="Log In">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"></a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a class="auth sign-up" data-toggle="modal" data-target=".sign-up-modal">Sign up<span class="sr-only">(current)</span></a></li>
            <li><a class="auth login" data-toggle="modal" data-target=".login-modal">Login</a></li>
            <li>
              <form class="auth" method="GET" action="/logout">
                <button type="submit" class="logout">Logout</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>

      <!-- Section for Heroes and Header -->
      <div class="batcave">
        <div class="container">
        <div class="row">
          <div class="site-title col-md-6 comic">
            <h1 class="font-effect-3d title-text">Where's</h1>
          </div>
          <div class="picDiv">
            <section class="col-md-6 comic">
              <div class="row">
                <div class="col-xs-8">
                  <div class="col-xs-12 hero-chat">
                    <!-- hero chat goes here -->
                  </div>
                </div>
                <div class="col-xs-2 col-xs-offset-2 hero-box">
                  <img class="sandwichPic" src="http://i.giphy.com/DpB9NBt1ySFDHH9yiCA.gif" alt="our hero!" height="175" style="max-width: 320px">
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 thwack-image comic">
            
          </div>
          <div class="site-title col-md-4 comic">
            <h1 class="font-effect-3d title-text">My</h1>
          </div>
          <div class="col-md-4 pow-image comic">

          </div>
        </div>
        <div class="row">
          <div class="picDiv">
            <section class="col-md-6 comic">
              <div class="row">
                <div class="col-xs-2 batman-box">
                  <img class="sandwichBatman" src="https://aunicornwithcancer.files.wordpress.com/2013/01/hero_sandwich_by_stanlydan-d39c77b.jpg" height="175" style="max-width: 320px">
                </div>
                <div class="col-xs-8 col-xs-offset-2">
                  <div class="col-xs-12 batwich-chat">
                    <!-- batwich chat goes here -->
                  </div>
                </div>
              </div>
            </section>
            <div class="site-title col-md-6 comic">
              <h1 class="font-effect-3d title-text">Hero?!</h1>
            </div>
          </div>

        </div>
      </div>
    </div>

      <!-- map section -->
      <section class="map-section">
        <div class="find-hero-button">
          <button type="button" class="btn btn-findHero btn-lg" id="map-button">Find A Hero</button>
        </div>
        <article class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 hero-map" id="hero-map">
              <div id="mapPlacement"></div>
              <section class="container-fluid">
                <div class="row">
                  <div class="current-location col-lg-6 col-xs-6 text-center">
                    <button type="button" class="btn btn-closest btn-md" id="current-location">Closest Food To My Face!</button>
                  </div>
                  <div class="change-location col-lg-6 col-xs-6 text-center">
                    <button type="button" class="btn btn-location btn-md" id="change-location">Feed My Food Hole Here!</button>
                  </div>
                </div>
              </section>
              <div class="hide-map-area">
                <button type="button" class="btn btn-hide btn-lg" id="hide-map-button">Hide Map</button>
              </div>
            </div>
          </div>
        </article>
      </section>

      <!-- Create review -->
      <section class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <button type="button" class="btn btn-createReview btn-lg create" id="create-button">Create Review</button>
            </div>
            <div class="row review-word">
              <h2 class="font-effect-3d">Reviews</h2>
            </div>

            <!-- sandwich reviews -->
            <div class="appendReviews">

              <!-- Handlebars template with edit and delete buttons ** rewrite to use conditions to add/remove buttons to make code dry-er -->
              <script id='review-template-buttons' type='text/x-handlebars-template'>
                <article class="reviewIndividual" id="{{reviewId}}">
                  <section class="pic review-half">
                    <img class="review-gif center img-responsive" src="{{reviewGif}}"></a>
                  </section>
                  <section class="review-content review-half">
                    <div class="row col-sm-12">
                      <div class="star-box text-center">
                        <p>Sandwich Stars: {{reviewStars}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="review-attributes col-sm-6">
                        <p>author: {{author}}</p>
                        <p>restaraunt: </p>
                        <p>sandwich: </p>
                      </div>
                      <div class="review-text col-sm-6">
                        <p class="pre-scrollable">{{reviewContent}}</p>
                      </div>
                    </div>
                  </section>
                  <div class="clearfix">
                    <button type="button" class="{{reviewId}} btn btn-revision btn-sm" id="edit-button">Edit</button>
                    <button type="button" class="{{reviewId}} btn btn-revision btn-sm" id="delete-button">Delete</button>
                  </div>
                </article>
              </script>

              <!-- Handlebars template with no buttons -->
              <script id='review-template' type='text/x-handlebars-template'>
                <article class="reviewIndividual" id="{{reviewId}}">
                  <section class="pic review-half">
                    <img class="review-gif center img-responsive" src="{{reviewGif}}"></a>
                  </section>
                  <section class="review-content review-half">
                    <div class="row col-sm-12">
                      <div class="star-box text-center">
                        <p>Sandwich Stars: {{reviewStars}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="review-attributes col-sm-6">
                        <p>author: {{author}}</p>
                        <p>restaraunt: </p>
                        <p>sandwich: </p>
                      </div>
                      <div class="review-text col-sm-6">
                        <p class="pre-scrollable">{{reviewContent}}</p>
                      </div>
                    </div>
                  </section>
                </article>
              </script>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script id="selectableGif-template2" type="text/x-handlebars-template"></script>
    <script id="gif-choice" type="text/x-handlebars-template"></script>
    <script id="restaurant-template" type="text/x-handlebars-template"></script>

  </body>
</html>
