/** {
  border: dashed 1px black;
}*/

  .site-logo {
    max-width:100px;
    height:auto;
    margin-left: 40%;
  }

  .sandwichBatman {
    display: inline-block;
    float: left;
    border: 5px solid black;
    transform: scaleX(-1);
  }

  .sandwichPic {
    display: inline-block;
    float: right;
    border: 5px solid black;
  }

  .title-text {
    position:relative;
    top: 50%;
    margin-top: -50px;
    font-size: 6em;
  }

  /*.review-word {
    text-align: left;
  }*/

  .gifBox {
    min-height: 150px;
    text-align: center;
  }

  .rating {
    overflow: hidden;
    display: inline-block;
  }

  .rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
  }

  .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
  }

  .rating:hover .rating-star:hover,
  .rating:hover .rating-star:hover ~ .rating-star,
  .rating-input:checked ~ .rating-star {
    background-position: 0 0;
  }
  .rating-star,
  .rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
  }

  .reviewIndividual {
    /*border: solid 1px black;*/
    background-color: rgba(250, 240, 250, 0.5);
    padding: 5px;
    /*padding-right: -300px;*/
    margin: 5px;
  }

  .review-gif {
    margin-top: 10%;
    float: none;
    margin: 0 auto;
    border-radius: 5px;
    max-height: 190px !important;
  }

  .review-half {
    /*max-width: 300px;*/
    max-height: 1700px !important;
    min-height: 160px;
  }

  .pic img {
    width: 100%;
    height: auto;
  }

  h1, h2, legend, .batwich-chat, .hero-chat {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
  }

  button {
    background-color: #3776BC;
    color: white;
  }

  #create-button {
    margin-top: 50px;
  }

  .hide-map-area {
    margin-top: 20px;
  }

  .find-hero-button, .hide-map-area {
    text-align: center;
  }

  #edit-button {
    margin-top: 20px;
  }

  #delete-button {
    margin-top: 20px;
    background-color: red;
  }

  #gifId {
    margin-top: 15px
  }

  body {
    /*background: linear-gradient(225deg, #74C5FF, white);*/
    background-color: black;
    color: white;
  }

  h1 {
    font-size: 70px;
    padding
  }

  .batwich-chat, .hero-chat {
    margin-top: 15px;
    border: solid 1px lightgray;
    min-height: 160px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    padding-top: 17%;
    font-size: 17px;
    background-color: rgba(21,71,140,0.5);
    color: #96D5FF;
  }

  .hero-box, .batman-box {
    margin-top: 20px;
  }

  /*Create Page Formatting*/
  li:hover {
    background-color: rgba(45, 77, 150, .5);
  }

  li {
    text-align: center;
  }

/*Styling related to the map section*/

  #mapPlacement {
    height: 400px;
    width: 100%;
    margin-top: 20px;
  }

  p {
    margin-top: 25px;
    font-family: 'Indie Flower', cursive;
  }

  #singlebuttonSubmit {
    margin-left: 25px;
  }

/*Hidden Class*/

.hidden {
  visibility: hidden!important;
}

.comic {
  border: solid white 2px;
  height: 200px;
}

.site-title {
  background-color: rgba(255,0,0,.6);
}

.pow-image {
  background-image: url('../images/pow.png');
  background-repeat: no-repeat;
  background-size: 90% 90%;
  background-position: center;
}

.thwack-image {
  background-image: url('https://img.clipartfest.com/3d4cbde4fbf3922fa11e94813b7cb76f_clip-art-thwack-soundeffect-free-comic-book-clip-art_1979-716.png');
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center;
}

.batcave {
  margin: 50px;
}


.navbar-brand {
  background-image: url(https://cdn2.iconfinder.com/data/icons/arq-fast-food/512/subsandwich-512.png);
  background-repeat: no-repeat;
  background-size: 130% 130%;
  background-position: center;
}

.navbar {
  background-color: rgba(255,0,0,.6);
}

.auth {
  background: none;
  border: none;
  /*background-color: rgba(255,0,0,.6);*/
  color: white;
}

.auth:hover {
  background-color: #FFFF00!important;
  color: black!important;
}

.logout {
  background: none;
  border: none;
  background-color: inherit;
  margin: 10px;
}
