/** {
  border: dashed 1px black;
}*/

.gifBox {
  min-height: 150px;
  text-align: center;
}

.rating {
      overflow: hidden;
      display: inline-block;
  }

  .rating-input {
      float: right;
      width: 16px;
      height: 16px;
      padding: 0;
      margin: 0 0 0 -16px;
      opacity: 0;
}

  .rating-star {
      position: relative;
      float: right;
      display: block;
      width: 16px;
      height: 16px;
      background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
  }

  .rating:hover .rating-star:hover,
  .rating:hover .rating-star:hover ~ .rating-star,
  .rating-input:checked ~ .rating-star {
      background-position: 0 0;
  }
  .rating-star,
  .rating:hover .rating-star {
      position: relative;
      float: right;
      display: block;
      width: 16px;
      height: 16px;
      background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
  }

  .jumbotron {
    background-color: #0B543E;
    color: #E5563C;
  }

  .site-logo {
    max-width:100px;
    height:auto;
    margin-left: 40%;
  }

  h1, h2, legend {
    text-align: center;
    /*text-shadow: 7px 5px 5px #E5563C;*/
    /*font-family: 'Indie Flower', cursive;*/
    font-family: 'Gloria Hallelujah', cursive;
  }

  .reviewIndividual {
    border: solid 1px black;
    background-color: #BBDB93;
  }

  .review-gif {
    min-height: 200px;
  }

  #singlebuttonSubmit {
    margin-left: 75px;
  }

  .site-title {
    padding-bottom: 15px;
  }

  .find-hero-button, .hide-map-area {
    text-align: center;
  }

  body {
    /*font-family: Calibria, serif;*/
    background-color: #0B543E;
  }

  .site-title {
    padding-bottom: 15px;
  }

  .find-hero-button, .hide-map-area {
    text-align: center;
  }

  .hide-map-area {
    margin-top: 20px;
  }

/*Create Page Formatting*/

li:hover {
  background-color: rgba(45, 77, 150, .5);
}

li {
  text-align: center;
}

/*Styling related to the map section*/

#mapPlacement {
  height: 400px; /*map size has to be created manually. Feel free to edit for beautification*/
  width: 100%;
  margin-top: 20px;
}

/*Hidden Class*/

.hidden {
  visibility: hidden!important;
}
